# Ignora estas carpetas donde sea que estén (cascada)
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Uu]ser[Ss]ettings/

# Archivos de proyecto de Visual Studio
*.csproj
*.sln
*.suo
*.user
*.userprefs
.vs/
 
# Entorno virtual
.venv/
venv/

# Variables de entorno
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# VSCode
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db

# Jupyter (si llegas a usarlo)
.ipynb_checkpoints/

# Archivos temporales
*.tmp

# Paquetes de assets de terceros (no versionar, se reimportan si hace falta)
Lab_Final_GhostFarm/Assets/ALP_Assets/
Lab_Final_GhostFarm/Assets/ALP_Assets.meta
Lab_Final_GhostFarm/Assets/TerrainSampleAssets/
Lab_Final_GhostFarm/Assets/TerrainSampleAssets.meta
Lab_Final_GhostFarm/Assets/HDRPDefaultResources/
Lab_Final_GhostFarm/Assets/HDRPDefaultResources.meta

# incluidos por si acaso